* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
.btn-femme {
  text-align: center;
}
.btn-homme {
  text-align: center;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a09d9d;
  padding: 20px;
  box-shadow: 0 1px 3px -2px black;
  height: 110px;
}

.nav-logo img {
  height: 80px;
}
.nav-logo{
  display: flex;
  align-items: center;
}
.nav-logo h1{
  font-size: 38px;
  font-weight: 550;
}
.nav-ul ul {
  list-style: none;
  display: flex;
  gap: 90px;
  font-size: 20px;
  font-weight: 600;
  
}

.nav-ul a {
  text-decoration: none;
  color: black;
}

.nav-panier img {
  height: 60px;
  width: 60px;
}

.hero {
  background-image: url('./assets/fashion.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.hero-content {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.buttons {
  margin-top: 20px;
}

.btn {
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 5px;
  margin: 10px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.categories {
  padding: 40px 20px;
}

.section-title {
  font-size: 39px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.column {
  width: 23%;
  margin-bottom: 10px;
}



.footer {
  padding: 40px 20px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer-logo img {
  height: 50px;
}

.footer-logo p {
  font-size: 40px;
  font-weight: bold;
  color: grey;
}

.footer-links {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 40px;
  list-style: none;
}

.footer-links li {
  cursor: pointer;
}

.footer-social-icon {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
}

.footer-icons-container img {
  height: 50px;
}

.hr1 hr {
  margin: 30px auto;
  width: 80%;
  border: 0.5px solid #ccc;
}

.footer-info {
  display: flex;
  justify-content: center;
  gap: 150px;
  background-color: #e5e5e5;
  padding: 30px;
}

.footer-info h3 {
  font-weight: bold;
}

.footer-info p {
  margin: 5px 0;
}

.footer-copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}
